<!DOCTYPE html> <!-- Fragment used in shoppingcart.html and view_data.html -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="quantity_control(quantityValue, productID)">
			<ul class="pagination" id="quantityUl">
				<li class="page-item">
					<a class="page-link minusButton" href="" th:pid="${productID}"><b>-</b></a>
				</li>
				<li class="page-item">
					<input type="text" th:value="${quantityValue}" class="form-control text-center quantityInput" onkeydown="return false;" th:id="'quantity' + ${productID}" name="qty"/>
				</li>
				<li class="page-item">
					<a class="page-link plusButton" href="" th:pid="${productID}"><b>+</b></a>
				</li>
			</ul>
	</div>
</body>
</html>